{% extends 'base.html' %}
{% block title %}Home page{% endblock %}
{% block css %}
<style>
    .room-card {
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease;
    }

    .hori, .room-card:hover {
        transform: translateY(-5px);
    }

    .room-card .card-img-top {
        border-radius: 10px 10px 0 0;
    }

    .room-card .card-body {
        padding: 20px;
    }

    .room-card .card-title {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .room-card .card-text {
        color: #6c757d;
    }

    .room-card .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
        transition: background-color 0.3s ease;
    }
    .text_style{
        text-decoration: none;
    }
</style>
<style>
    .lightbox-img {
        cursor: pointer;
    }
</style>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        {% for education in education %}
            <div class="card col-lg-12 mb-2">
                <h5 class="card-header"></h5>
                <div class="d-flex">
                    <div class="col-lg-3 border">
                        <div class="row">
                            <div class="col-lg-12 mb-3">
                                <!-- Add a link to open the lightbox for the main image -->
                                <a href="{% if education.main_image %}{{education.main_image.url}}{% endif %}" data-lightbox="education-gallery" class="lightbox-img">
                                    <img class="card-img-top" src="{% if education.main_image %}{{education.main_image.url}}{% endif %}">
                                </a>
                            </div>
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <!-- Add links to open lightbox for other images -->
                                        <a href="{% if education.other_image1 %}{{education.other_image1.url}}{% endif %}" data-lightbox="education-gallery" class="lightbox-img">
                                            <img class="card-img-top" src="{% if education.other_image1 %}{{education.other_image1.url}}{% endif %}">
                                        </a>
                                    </div>
                                    <div class="col-lg-4">
                                        <a href="{% if education.other_image2 %}{{education.other_image2.url}}{% endif %}" data-lightbox="education-gallery" class="lightbox-img">
                                            <img class="card-img-top" src="{% if education.other_image2 %}{{education.other_image2.url}}{% endif %}">
                                        </a>
                                    </div>
                                    <div class="col-lg-4">
                                        <a href="{% if education.other_image3 %}{{education.other_image3.url}}{% endif %}" data-lightbox="education-gallery" class="lightbox-img">
                                            <img class="card-img-top" src="{% if education.other_image3 %}{{education.other_image3.url}}{% endif %}">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-body col-lg-3 border">
                        <h5 class="card-title">{{education.name}}</h5>
                        <p class="card-text"><b>Address:</b> {{education.address}}</p>
                        {% if education.contact_number %}
                        <p class="card-text"><b>Contact Number:</b> {{education.contact_number}}</p>
                        {% endif %}

                        {% if education.affilliated_by %}
                        <p class="card-text"><b>Affilliated_by:</b> {{education.affilliated_by}}</p>
                        {% endif %}

                        {% if education.approved_by %}
                        <p class="card-text"><b>Approved by:</b> {{education.approved_by}}</p>
                        {% endif %}

                        {% if education.medium_language %}
                        <p class="card-text"><b>Medium language:</b> {{education.medium_language}}</p>
                        {% endif %}

                        {% if education.subject %}
                        <p class="card-text"><b>subject:</b> {{education.subject}}</p>
                        {% endif %}

                        {% if education.owner_name %}
                        <p class="card-text"><b>Owner name:</b> {{education.owner_name}}</p>
                        {% endif %}

                        {% if education.owner_contact %}
                        <p class="card-text"><b>Owner contact:</b> {{education.owner_contact}}</p>
                        {% endif %}
                    </div>

                    <div class="card-body col-lg-3 border">
                        {% if education.email %}
                    <p class="card-text"><b>Email:</b> {{education.email}}</p>
                    {% endif %}

                    {% if education.website %}
                    <p class="card-text"><b>Website:</b>
                        &nbsp; &nbsp; &nbsp; &nbsp;<a href="{{education.website}}" target="_blank">View Website</a></p>
                    {% endif %}

                    {% if education.timing %}
                    <p class="card-text"><b>Timing:</b> {{education.timing}}</p>
                    {% endif %}

                    {% if education.educattion_class %}
                    <p class="card-text"><b>Educattion class:</b> {{education.educattion_class}}</p>
                    {% endif %}

                    <div class="row">
                        <div class="col-lg-6">
                            {% if education.courses_list %}
                            <p class="card-text"><b>Courses list:</b>
                            <pre>{{education.courses_list}}</pre>
                            </p>
                            {% endif %}
                        </div>
                        <div class="col-lg-6">
                            {% if education.facilities %}
                            <p class="card-text"><b>Facilities:</b>
                            <pre>{{education.facilities}}</pre>
                            </p>
                            {% endif %}
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

<head>
    <!-- Include Lightbox2 CSS from CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css">
</head>

<body>
    <!-- Include Lightbox2 JavaScript from CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox-plus-jquery.min.js"></script>
</body>

