{% extends 'base.html' %}
{% block title %}Home page{% endblock %}
{% block css %}
<style>
    .room-card {
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease;
    }

    .hori, .room-card:hover {
        transform: translateY(-5px);
    }

    .room-card .card-img-top {
        border-radius: 10px 10px 0 0;
    }

    .room-card .card-body {
        padding: 20px;
    }

    .room-card .card-title {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .room-card .card-text {
        color: #6c757d;
    }

    .room-card .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
        transition: background-color 0.3s ease;
    }
    .text_style{
        text-decoration: none;
    }


</style>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        {% for education in education %}
        <div class="card col-lg-12 mb-2">
            <h5 class="card-header"></h5>
            <div class="d-flex">
                <div class="col-lg-3 border">
                    <img alt="Room 1" class="card-img-top" src="{% if education.main_image %}{{education.main_image.url}}{% endif %}">
                </div>

                <div class="card-body col-lg-3 border">
                    <h5 class="card-title">{{education.name}}</h5>
                    <p class="card-text"><b>Address:</b> {{education.address}}</p>

                    {% if education.contact_number %}
                    <p class="card-text"><b>Contact Number:</b> {{education.contact_number}}</p>
                    {% endif %}




                </div>

                <div class="card-body col-lg-3 border">

                    {% if education.email %}
                    <p class="card-text"><b>Email:</b> {{education.email}}</p>
                    {% endif %}

                    {% if education.website %}
                    <p class="card-text"><b>Website:</b>
                        &nbsp; &nbsp; &nbsp; &nbsp;<a href="{{education.website}}" target="_blank">View Website</a></p>
                    {% endif %}

                    {% if education.email %}
                    <p class="card-text"><b>Email</b> {{education.email}}</p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>
{% endblock %}
