# Django project files
*.pyc
*.pyo
__pycache__/
*.sqlite3
*.env

# Static files
# staticfiles/
# *.static/

# Media files
media/

# Logs
logs/

# Virtual environment
venv/
env/

# Development and IDE-specific files
*.log
*.swp
*.swo
*.swn
.vscode/
.idea/
*.pydevproject

# Ignore database connection information
*.bak
*.sql
*.db
*.sqlite
# *.sqlite3

# Ignore sensitive information
secrets.json

# Ignore deployment-specific files
*.env.prod
*.env.dev

# Ignore local configuration files
# local_settings.py
