<!DOCTYPE html>
<html>

<head>
    <title>{% block title %} {% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    {% block css %}

    {% endblock %}
    <style>

        .navbar_back{
            background-color: #bca767;
        }
        .view_img{
            width:98.9vw;
        }
    </style>
</head>

<body>
    <h3 class="text-center m-3">Welcome to Mero Pyaro Vrindavan</h3>
    <div class="fluid-container text-center">
        <img src="{{banner_img}}" class="view_img">
    </div>
    <nav class="navbar navbar-expand-lg navbar-light navbar_back">
        <div class="container-fluid">
            <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler" data-bs-target="#navbarSupportedContent"
                    data-bs-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="btn nav-item">
                        <a aria-current="page" class="nav-link active nav-link-color" href="/"
                           style="color:white;">Home</a>
                    </li>
                    <li class="btn nav-item dropdown">
                        <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                           role="button" style="color:white;">
                            Accommodation
                        </a>
                        <ul aria-labelledby="navbarDropdown" class="dropdown-menu">
                            {% for business_type in business_type %}
                            <li><a class="dropdown-item" href="/{{business_type.id}}/">{{business_type.name}}</a></li>
                            {% endfor %}
                        </ul>
                    </li>

                    <li class="btn nav-item dropdown">
                        <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                           role="button" style="color:white;">
                            Business unit
                        </a>
                        <ul aria-labelledby="navbarDropdown" class="dropdown-menu">
                            {% for store_type in store_type %}
                            <li><a class="dropdown-item" href="/business-unite/{{store_type.id}}/">{{store_type.type}}</a></li>
                            {% endfor %}
                        </ul>
                    </li>

                    <li class="btn nav-item">
                        <a aria-current="page" class="nav-link" href="/temple/" style="color:white;">Temple list</a>
                    </li>

                    <li class="btn nav-item dropdown">
                        <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                           role="button" style="color:white;">
                            Religious organizations
                        </a>
                        <ul aria-labelledby="navbarDropdown" class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                        </ul>
                    </li>

                    <li class="btn nav-item dropdown">
                        <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                           role="button" style="color:white;">
                            Health service
                        </a>
                        <ul aria-labelledby="navbarDropdown" class="dropdown-menu">
                            {% for health_type in health_type %}
                            <li><a class="dropdown-item" href="/hospital/{{health_type.id}}/">{{health_type.type}}</a></li>
                            {% endfor %}
                        </ul>
                    </li>

                    <li class="btn nav-item dropdown">
                        <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                           role="button" style="color:white;">
                            Education sector
                        </a>
                        <ul aria-labelledby="navbarDropdown" class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                        </ul>
                    </li>

                </ul>

            </div>
        </div>
    </nav>



    {% block content %}

    {% endblock %}

{% block js %}

{% endblock %}
<!-- Bootstrap JS (optional) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
