{% extends 'base.html' %}
{% block title %}Home page {% endblock %}
{% block css %}
<style>
    .room-card {
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease;
    }

    .hori,
    .room-card:hover {
        transform: translateY(-5px);
    }

    .room-card .card-img-top {
        border-radius: 10px 10px 0 0;
    }

    .room-card .card-body {
        padding: 20px;
    }

    .room-card .card-title {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .room-card .card-text {
        color: #6c757d;
    }

    .room-card .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
        transition: background-color 0.3s ease;
    }
</style>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <h1 class="text-center">Available Rooms</h1>
    <div class="row">
        {% for business in business %}
        <div class="card col-lg-12 mb-2">
            <h5 class="card-header">Featured</h5>
            <div class="d-flex mx-auto">
                <div class="col-lg-3">
                    <div class="p-4">
                        <img src="{{business.main_img.url}}" class="card-img-top" alt="Room 1">
                    </div>
                </div>

                <div class="card-body text-center col-lg-3">
                    <h5 class="card-title">{{business.name}} {{business.business_type}}</h5>
                    <p class="card-text"><b>Address:</b> {{business.address}}</p>
                    <p class="card-text"><b>landmark:</b> {{business.landmark}}</p>
                    <p class="card-text"><b>City:</b> {{business.city}}, {{business.state}},{{business.country}}</p>
                </div>

                <div class="card-body text-center col-lg-3">
                    <p class="card-text"><b>Mobile:</b> {{business.mobile}} <b>Phone:</b> {{business.phone}}</p>
                    <p class="card-text"><b>Email:</b> {{business.email}} &nbsp; &nbsp; &nbsp; &nbsp;<a
                            href="{{business.weblink}}" target="_blank">Website</a></p>
                    <i class="fa fa-star-o" style="font-size:20px;color:black"></i>
                    <i class="fa fa-star-o" style="font-size:20px;color:black"></i>
                    <i class="fa fa-star-o" style="font-size:20px;color:black"></i>
                    <i class="fa fa-star-o" style="font-size:20px;color:black"></i>
                    <i class="fa fa-star-o" style="font-size:20px;color:black"></i><br>
                    <a href="/visiting/{{business.id}}/" class="btn w-100 btn-primary">Visite Now</a>&nbsp; &nbsp;

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}