{% extends 'base.html' %}
{% block css %}
<style>
    /* Custom CSS styles */
    body {
        background-color: #f8f9fa;
    }

    .container {
        padding-top: 40px;
    }

    .room-card {
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease;
    }

    .hori,
    .room-card:hover {
        transform: translateY(-5px);
    }

    .room-card .card-img-top {
        border-radius: 10px 10px 0 0;
    }

    .room-card .card-body {
        padding: 20px;
    }

    .room-card .card-title {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .room-card .card-text {
        color: #6c757d;
    }

    .room-card .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
        transition: background-color 0.3s ease;
    }
</style>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <h1 class="text-center">Rooms Details</h1>
    <div class="row">
        <div class="hori card text-center">
            <div class="card-header">
                {{firm_data.name}} {{firm_data.business_type}}
            </div>
            <div class="card-body">
                <table class="table table-success table-striped">
                    <thead>
                        <tr>
                            <th scope="col">SNo.</th>
                            <th scope="col">Room Type</th>
                            <th scope="col">AC Room</th>
                            <th scope="col">Price</th>
                            <th scope="col">Non-AC Room</th>
                            <th scope="col">Price</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% if business_details.is_single %}
                        <tr>
                            <th scope="row">1</th>
                            <td>Single Bed</td>
                            <td>{{business_details.single_ac}}</td>
                            <td>{{business_details.single_ac_price}}</td>

                            <td>{{business_details.single_non_ac}}</td>
                            <td>{{business_details.single_non_ac_price}}</td>
                        </tr>
                        {% endif %}

                        {% if business_details.is_double %}
                        <tr>
                            <th scope="row">2</th>
                            <td>Double Bed</td>
                            <td>{{business_details.double_ac}}</td>
                            <td>{{business_details.double_ac_price}}</td>

                            <td>{{business_details.double_non_ac}}</td>
                            <td>{{business_details.double_non_ac_price}}</td>
                        </tr>
                        {% endif %}

                        {% if business_details.is_triple %}
                        <tr>
                            <th scope="row">3</th>
                            <td>Triple Bed</td>
                            <td>{{business_details.triple_ac}}</td>
                            <td>{{business_details.triple_ac_price}}</td>

                            <td>{{business_details.triple_non_ac}}</td>
                            <td>{{business_details.triple_non_ac_price}}</td>
                        </tr>
                        {% endif %}

                        {% if business_details.is_four %}
                        <tr>
                            <th scope="row">4</th>
                            <td>Four Bed</td>
                            <td>{{business_details.four_ac}}</td>
                            <td>{{business_details.four_ac_price}}</td>

                            <td>{{business_details.four_non_ac}}</td>
                            <td>{{business_details.four_non_ac_price}}</td>
                        </tr>
                        {% endif %}

                        {% if business_details.is_five %}
                        <tr>
                            <th scope="row">5</th>
                            <td>Five Bed</td>
                            <td>{{business_details.five_ac}}</td>
                            <td>{{business_details.five_ac_price}}</td>

                            <td>{{business_details.five_non_ac}}</td>
                            <td>{{business_details.five_non_ac_price}}</td>
                        </tr>
                        {% endif %}

                        {% if business_details.is_six %}
                        <tr>
                            <th scope="row">6</th>
                            <td>Six Bed</td>
                            <td>{{business_details.six_ac}}</td>
                            <td>{{business_details.six_ac_price}}</td>

                            <td>{{business_details.six_non_ac}}</td>
                            <td>{{business_details.six_non_ac_price}}</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>

            <div class="card-body mx-auto">
                <h1 class="text-center">Image Gallery</h1>
                <div class="d-flex">
                    <div class="col-lg-3">
                        <img src="{% if business_details.room_img1 %}{{business_details.room_img1.url}}{% endif %}" class="m-2" height="150" >
                    </div>

                    <div class="col-lg-3">
                        <img src="{% if business_details.room_img2 %}{{business_details.room_img2.url}}{% endif %}" class="m-2" height="150" >
                    </div>

                    <div class="col-lg-3">
                        <img src="{% if business_details.room_img3 %}{{business_details.room_img3.url}}{% endif %}" class="m-2" height="150" >
                    </div>

                    <div class="col-lg-3">
                        <img src="{% if business_details.room_img4 %}{{business_details.room_img4.url}}{% endif %}" class="m-2" height="150" >
                    </div>
                </div>
            </div>

            <div class="card-body">
                <h1 class="text-center">Room Facilities</h1>
                <table class="table table-success table-striped">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">intercome</th>
                            <th scope="col">Room service</th>
                            <th scope="col">Power backup ac</th>
                            <th scope="col">Power backup fan</th>
                            <th scope="col">Hot water</th>
                            <th scope="col">Room tv</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <th scope="row"></th>
                            <td>{% if business_details.intercome %} Yes {% else %} No {% endif %}</td>
                            <td>{% if business_details.room_service %} Yes {% else %} No {% endif %}</td>
                            <td>{% if business_details.power_backup_ac %} Yes {% else %} No {% endif %}</td>
                            <td>{% if business_details.power_backup_fan %} Yes {% else %} No {% endif %}</td>
                            <td>{% if business_details.hot_water %} Yes {% else %} No {% endif %}</td>
                            <td>{% if business_details.room_tv %} Yes {% else %} No {% endif %}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            {% if business_details.is_hall %}
            <div class="card-body">
                <h1 class="text-center">Hall Details</h1>
                <table class="table table-success table-striped">
                    <thead>
                        <tr>
                            <th scope="col">SNo.</th>
                            <th scope="col">Type</th>
                            <th scope="col">AC Hall</th>
                            <th scope="col">Price</th>
                            <th scope="col">Non-AC Hall</th>
                            <th scope="col">Price</th>
                            <th scope="col">Capicity Member</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Hall</td>
                            <td>{{business_details.hall_ac}}</td>
                            <td>{{business_details.hall_ac_price}}</td>

                            <td>{{business_details.hall_non_ac}}</td>
                            <td>{{business_details.hall_non_ac_price}}</td>
                            <td>{{business_details.hall_for}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            {% endif %}

            {% if business_details.arrangement_for_katha %}
            <div class="card-body">
                <h1 class="text-center">Event</h1>
                <table class="table table-success table-striped">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Katha</th>
                            <th scope="col">Wedding</th>
                            <th scope="col">Birthday</th>
                            <th scope="col">Other</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <th scope="row">Capicity of People</th>
                            <td>{{business_details.katha_people}}</td>
                            <td>{{business_details.wedding_people}}</td>
                            <td>{{business_details.birthday_people}}</td>
                            <td>{{business_details.other_people}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            {% endif %}

            <div class="card-body">
                <h1 class="text-center">Other Facilities</h1>
                <table class="table table-success table-striped">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Parking Area</th>
                            <th scope="col">Restaurant</th>
                            <th scope="col">Kitchen</th>
                            <th scope="col">Taxi/Cab service</th>
                            <th scope="col">Wifi</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <th scope="row"></th>
                            <td>{{business_details.parking_address}}</td>
                            <td>{% if business_details.restaurant %} Yes {% else %} No {% endif %}</td>
                            <td>{% if business_details.kitchen %} Yes {% else %} No {% endif %}</td>
                            <td>{% if business_details.taxi_service %} Yes {% else %} No {% endif %}</td>
                            <td>May be Available</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div>
                <div class="card-footer d-flex mb-2">
                    <div class="m-1"><b>Email:</b> {{business_details.email}}</div>
                    <div class="m-1"><b>Mobile:</b> {{business_details.mobile}}</div>
                    <div class="m-1"><b>Phone:</b> {{business_details.phone}}</div>
                </div>

                <div class="d-flex mb-2">
                    <div class="m-1"><b>Address:</b> {{business_details.address}}</div>
                    <div class="m-1"><b>Landmark:</b> {{business_details.landmark}}</div>
                    <div class="m-1"><b>City:</b> {{business_details.city}}</div>
                    <div class="m-1"><b>State:</b> {{business_details.state}}</div>
                    <div class="m-1"><b>Country:</b> {{business_details.country}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}

{% endblock %}
